@inherits LayoutComponentBase

<div class="layout">
    <main class="layout__main">
        @Body
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    Der opstod en uventet fejl.
    <a href="." class="reload">Genindlæs</a>
    <span class="dismiss">✕</span>
</div>
